	.lastDepth>a,
    .listTab ul li a,
	#mVisual .inConts .ii,
	#mVisual .inConts .ii.btn>a,
	#mVisual .bx-pager>span,
	#mVisual .bx-pager-item>a{transition: all .3s ease-out; transform-origin: 50% 50%;}

/*[s] All Style */
	img.bg_thumb{background-repeat: no-repeat; background-position: center center; transform: matrix(1, 0, 0, 1, 0, 0); transition: all .3s ease-out; transform-origin: 50% 50%;}
	a:hover img.bg_thumb{transform: matrix(1.03, 0, 0, 1.03, 0, 0);}
	a:hover img.no{transform: matrix(1, 0, 0, 1, 0, 0);}

	.tbLayout{width:100%; display:table;}
	.tbLayout.fixed{table-layout: fixed;}
	.tbLayout>*{display:table-cell; vertical-align: middle; box-sizing: border-box;}
	.tbLayout.vat>.td{vertical-align: top;}
	.tbLayout.full{width:1920px; margin-left:-960px; position: relative; left:50%;}

	.nTable{width:100%; border-top:2px solid #246bac; border-bottom:1px solid #b2b0a5;}
	.nTable>table{width:100%; margin-bottom:-1px; border-spacing:0; table-layout : fixed;}
	.nTable>table th,
	.nTable>table td{padding:12px; border-bottom:1px solid #c5c3bb; font-size:16px; line-height:1.5; color:#666; text-align:left; border-collapse:collapse; empty-cells:show; box-sizing: border-box;}

	.nTable>table>thead>tr>th{background-color: #e9f0f7; font-weight:500; color:#222; position: relative;}
	.nTable>table>thead>tr>th+th{}

	.f0{font-size:0; line-height:0;}

	.lastDepth{width:100%; margin-bottom:50px; font-size:0; line-height:0; text-align: center; box-sizing: border-box; /* overflow:hidden; */ display: flex; justify-content: space-between; }
  	.lastDepth>a{position:relative;width:100%; height:45px; background-color: #fafafa; border-top:1px solid #414042;border-bottom:2px solid #414042; font-size:18px; line-height:1.2; color: #414042; display:inline-block; vertical-align: top; box-sizing: border-box;}
	.lastDepth>a+a{margin-left:-1px;border-left:1px solid #414042;}
	.lastDepth>a>span{display:inline-block; position: relative; top:50%;-webkit-transform: translateY(-50%); transform: translateY(-50%);font-weight: 500;}

	.lastDepth>a:hover,
	.lastDepth>a.active{background-color: #414042; border-color:#414042; color: #fafafa; z-index:2;}

	.lastDepth>a:hover:before,
 	.lastDepth>a.active:before{position:absolute;margin-left:-6px;left:50%;content:"";width: 0px;height: 0px;border-top: 12px solid #414042;border-right: 7px solid transparent;border-left: 7px solid transparent;transform: rotate( 0deg );bottom: -12px;}

	.lastDepthConts{font-size:0; line-height:0; display:none; overflow:hidden;}

	.lastDepth.w1200{width:1200px;margin:0 auto;}

	.btn_sort{display:flex;margin-bottom:20px;}
	.btn_sort>a{line-height:50px; padding:0 30px;font-size:18px;color:#464646;border:1px solid #cccccc;}
	.btn_sort>a.active{color:#fff;background-color:#bd955b;border:1px solid #bd955b;}
	.btn_sort>a+a{margin-left:-1px;}


	.nBox{margin-bottom:60px;}

	.nTit{font-weight: 300; font-size:36px; line-height:50px; color: #8c6239; text-align: center;letter-spacing:-0.025em;}
	.nTit>span{font-weight: 300;}
	.nTxt{font-weight: 400; font-size:18px; line-height:50px; color: #636363; text-align: center;}

	.nTit.ty01{font-size:34px; font-weight:600;color:#252525;margin-bottom:10px;}
	.nTxt.ty01{font-size:22px; font-weight:400;color:#636363;}

	img.bg_thumb{background-repeat: no-repeat; background-position: center center; transform: matrix(1, 0, 0, 1, 0, 0);}
/*[e] All Style */

/*[s] Main Style */
	#mVisual{width:100%; font-size:0; line-height:0; position: relative; overflow:hidden;}
	#mVisual .visualRoll{white-space: nowrap;}
	#mVisual .visualRoll .slider{width:100%; height:812px; background-repeat: no-repeat; background-position: center center; background-size: cover; font-size:0; line-height:0; position: relative; overflow:hidden; display:inline-block; vertical-align: top;}

	#mVisual .bx-pager{width:100%; text-align: center; position: absolute; left:0; bottom:50px; z-index:6; display:inline-block;}
	#mVisual .bx-pager-item{padding:0 10px; display:inline-block; vertical-align: top;}
	#mVisual .bx-pager-item>a{width:20px; height:20px; background-color: #d1d1d1; display:block; border-radius:99px; overflow:hidden;}
	#mVisual .bx-pager-item>a.active{background-color: #c49a6c;}

	#mVisual .txt{position: absolute; z-index:5; display:inline-block;}
	#mVisual .txt:before,
	#mVisual .txt:after{content: ""; background-color: #d2a436; position: absolute;}
/*
	#mVisual .txt.l{padding-left:121px; left:30px; bottom:24px;}
	#mVisual .txt.l:before{width:1px; height:742px; left:0; bottom:5px;}
	#mVisual .txt.l:after{width:100px; height:1px; left:0; bottom:5px;}

	#mVisual .txt.r{padding-right:121px; right:30px; top:20px;}
	#mVisual .txt.r:before{width:1px; height:742px; right:0; top:10px;}
	#mVisual .txt.r:after{width:100px; height:1px; right:0; top:10px;}
*/
	#mVisual .bx-controls-direction>a{width:80px; height:160px; margin-top:-80px; background-position: center center; background-repeat: no-repeat; position: absolute; top:50%; z-index:5;}
	#mVisual .bx-controls-direction>a.bx-prev{background-image: url('../../images/main/btn_bx_prev.png'); left:90px;}
	#mVisual .bx-controls-direction>a.bx-next{background-image: url('../../images/main/btn_bx_next.png'); right:90px;}


	.mTitle{margin-bottom:45px; line-height:1; text-align: center; letter-spacing: -0.03em; position: relative;}
	.mTitle>dt{font-weight: bold; font-size:32px; color: #20221f;}
	.mTitle>dd{padding-top:15px; font-size:18px; color: #636363;}

	.wrap_slider{width:1346px;margin:0 auto;}

	.mConts{width:100%; font-size:0; line-height:0; position: relative;}
	.mMenu{padding:100px 0 170px; background:#f3f3f3 url('../../images/main/bg_menu.png') no-repeat left center;}
	.mMenu .inConts{width:1346px;}
	.mMenu .mTitle{padding:60px 0;margin-bottom:15px;}
	.mMenu .mTitle:before,
	.mMenu .mTitle:after{content: ""; width: 34px; height: 30px; margin-left:-15px; background-repeat: no-repeat; background-position: center center; display: inline-block; position:absolute; left: 50%;}
	.mMenu .mTitle:before{background-image: url('../../images/main/icon_ddom_left02.png'); top:14px;}
	/* .mMenu .mTitle:after{background-image: url('../../images/main/icon_ddom_right.png'); bottom:0;} */
	.mMenu .mTitle>dt{font-size:0; line-height:0;}
	.mMenu .more{padding: 0 88px 15px;text-align: right;}
	.mMenu .sliderBox{padding-right: 50px;box-sizing: inherit;padding-left: 50px;font-size:0;line-height:0;position: relative;overflow:hidden;height:390px;/* width: 1346px; */}

	.mMenu .menuSlider{padding:0 10px 0 22px;}
	.mMenu .menuSlider .slider{display:inline-block; vertical-align: top;    cursor: pointer;}

	.mMenu .menuSlider .slick-arrow{width:28px; height:100px; background-color: transparent; background-repeat: no-repeat; background-position: center center; border:none; font-size:0; line-height:0; position: absolute; top:130px; z-index:5; cursor: pointer;}
	.mMenu .menuSlider .slick-prev{background-image: url('../../images/main/btn_slisk_prev.png'); left:-49px;}
	.mMenu .menuSlider .slick-next{background-image: url('../../images/main/btn_slisk_next.png'); right:-49px;}
	.mMenu .menuSlider.no .slider+.slider{margin-left:22px;}


	.mShop{padding: 160px 0 180px;background:#fff url('../../images/main/bg_withme.png') no-repeat right 43px;}
	.mShop .shopSch{padding:45px 0 50px; border:1px solid #c1c1c1; border-top:3px solid #27272c;}
	.mShop .shopSch input[type=text],
	.mShop .shopSch select{width:100%; height:40px; padding:0 15px; background-color:#fff; border:1px solid #dbdbdb; font-weight: 300; font-size:15px; line-height:38px; color:#666; letter-spacing: -1px; box-sizing: border-box; vertical-align:top; display:inline-block;}
	.mShop .shopSch input[type=submit]{width:220px; height:90px; padding:0; background-color:#443f3b; border:none; font-weight:bold; font-size:20px; line-height:1; color:#fff; letter-spacing: -1px; box-sizing: border-box; position: absolute; right:0; top:0; cursor: pointer;}
	.mShop .shopSch select{padding-right:30px; background:#fff url('../../images/arr_sch.png') no-repeat 95% center; line-height:40px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
	.mShop .shopSch select+select{margin-left:10px;}
	.mShop .shopSch select::-ms-expand{display:none;}
	.mShop .shopSch .inBox{width:765px; margin:0 auto; padding-right:240px; box-sizing: border-box; position: relative;}
	.mShop .shopSch .inBox dl{padding-left:78px; position: relative;}
	.mShop .shopSch .inBox dl+dl{margin-top:10px;}
	.mShop .shopSch .inBox dl>dt{font-weight: 500; font-size:18px; line-height:40px; color: #27272c; position: absolute; left:0; top:0;}
	.mShop .shopSch .inBox dl>dd.two{display: flex; justify-content: space-between;}

	.mShop .mBanner{margin-top:30px; display: flex; justify-content: space-between;}

	.mBtm{background-color: #242122;height:930px;}

    .mBtm_slider{text-align: center;}
    .mBtm_slider .slider{width:1903px;overflow:hidden;}
	.mBtm_slider .slider img{display: inline-block;}


	.mBtm .slick-arrow{width:28px; height:50px; background-color: transparent; background-repeat: no-repeat; background-position: center center; border:none; font-size:0; line-height:0; position: absolute; top:48%; z-index:5; cursor: pointer;}
	.mBtm .slick-prev{background-image: url('../../images/main/btn_bx_prev.png'); left:170px;}
	.mBtm .slick-next{background-image: url('../../images/main/btn_bx_next.png'); right:170px;}

/* 	.mBtm_slider{height:100%;} */

/*[e] Main Style */

/*[s] Sub Style */
	.mapArea{width:100%; height:470px; padding:0 !important; border:none !important; overflow:hidden;}
	/* .sub .gray{background-color:#fafafa;} */

/* concept style */

	.sub_title{font-size:33px; font-weight:600; color:#414042; letter-spacing:-0.035em;line-height:40px;margin-bottom:30px;}
	.sub_tit01{font-size:20px; color:#414042; line-height:24px; font-weight:500;margin-bottom:15px;}
	.sub_txt01{font-size:18px; color:#414042; line-height:25px;}
	.sub_tit02{font-size:20px; color:#414042; line-height:24px; font-weight:500;margin-bottom:15px;}
	.sub_txt02{font-size:18px; color:#414042; line-height:25px;}

	.concept{background: url('../../images/sub/img_concept_bg.jpg') no-repeat bottom;}
	.concept.ty01{background-position: bottom;background-image: url('../../images/sub/img_concept_bg02.jpg'); background-repeat-y: repeat;}

	.why{}
	.box_design .box_wrap{display:flex;justify-content:flex-start; flex-wrap:wrap;}
	.box_design .box_wrap>div{flex-direction: column;display: flex;width:270px;margin-left: 30px;margin-top:50px;}
	.box_design .box_wrap>div>span{text-align:center;margin-top:25px;font-size:18px; color:#414042;line-height:25px;}
	.box_design .box_wrap>div>span{}

	.concept_slider01  img{margin:20px;}
	.why_slider01 .slick-slide img{margin:0 auto;max-width:none;display:block;}
	.concept_slider02 .slick-slide img{margin:20px;width:269px;max-width:none;height:380px;}
	.concept_slider02.ty02 .slick-slide img{}

	.concept_slider01{}
	.concept_slider01 .slider .in_slider{width:278px;}
	.concept_slider02 .slider .in_slider{width:269px;}
	.concept_slider02.ty02 .slider .in_slider{width:140px;}

	.why_slider01 .slick-prev,
	.why_slider01 .slick-next,
	.concept_slider01 .slick-prev,
	.concept_slider01 .slick-next,
	.concept_slider02 .slick-prev,
	.concept_slider02 .slick-next{width:10px; height:100%;padding:0 20px;position:absolute;top:0px;text-indent:-9999px;border:none;z-index:10;cursor:pointer;}
	.why_slider01 .slick-prev,
	.concept_slider01 .slick-prev,
	.concept_slider02 .slick-prev{left:-55px; background:url("../../images/sub/img_concept_prev.png") no-repeat center; }
	.why_slider01 .slick-next,
	.concept_slider01 .slick-next,
	.concept_slider02 .slick-next{right:-55px; background:url("../../images/sub/img_concept_next.png") no-repeat center; }

	.concept_img{margin-top:120px;display:flex;justify-content:space-between;}


    .listTab{display: flex;align-items: center;justify-content: center;margin: 0 0 40px 0;}
    .listTab ul{display: flex;gap: 10px;}
    .listTab ul li{}
    .listTab ul li a{height: 50px;width: 200px;background-color: #f5f5f5;font-size: 16px;color: #222;display: flex;align-items: center;justify-content: center;border: 1px solid #ddd;border-radius:4px;}

    .listTab ul li:hover a,
    .listTab ul li.active a{background-color: #231f20;color: #fff;}


/* menu_style */
	.g_circle>p,
	.photo_list.allmenu>ul>li>a .area .in_area>.g_circle{vertical-align: middle; text-align:center;}
	.g_circle>p+p,
	.photo_list.allmenu>ul>li>a .area .in_area>.g_circle>p+p{margin-left:25px;}
	.g_circle>p,
	.photo_list.allmenu>ul>li>a .area .in_area>.g_circle>p{color: #4d4541;font-size: 18px;width: 60px;height: 60px;border-radius: 30px;background-color: #ccc;line-height:57px;font-weight:500;text-shadow:5px 5px 10px rgba(0,0,0,0.2);}
	.g_circle>p.deliy,
	.photo_list.allmenu>ul>li>a .area .in_area>.g_circle>p.deliy{display: inline-block;background-color: #6e8f81; color:#fff;}
	.g_circle>p.hall,
	.photo_list.allmenu>ul>li>a .area .in_area>.g_circle>p.hall{display: inline-block;background-color:#6c563d; color:#fff;}
	.g_circle>p.packing,
	.photo_list.allmenu>ul>li>a .area .in_area>.g_circle>p.packing{display: inline-block;background-color:#c49a6c; color:#fff;}

	.menu_info .g_circle>span{font-size:30px;display:inline-block;vertical-align: text-top; padding:0 8px;}
	.menu_info .g_circle>.right_text{font-size:24px; color:#363636; line-height:47px;}

	.photo_view{width:700px; margin:0 auto;text-align:center;}
	.photo_view .pro_name > * {display:inline-block;vertical-align:top;}

	.photo_view .pro_name .title{font-size:48px; color:#414042;font-weight:600;}
	.photo_view .pro_name .text{font-size:19px; line-height:35px;color:#414042;}
	.photo_view .pro_name .price{font-size:26px; line-height:30px; font-weight:600;color:#e7332e;margin-top:20px;}

	.photo_view .photo_img{height:350px;width:600px; overflow:hidden;margin:40px auto 60px;}
	.photo_view .photo_txt{color:#414042;line-height:25px;font-size:18px;margin-bottom:70px;}

	.product_top{/* width:175px; */height:44px;/* border:1px solid #cccccc; */margin-bottom:110px;}
	.product_top select{width: 175px;height:100%;border-radius:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;background: #fff url("../../images/front/bg_pro_select_arr.png")no-repeat center right 15px;padding:0 15px;border: 1px solid #cccccc;}
	.product_top select::-ms-expand{display:none;}

	.photo_view .pro_name .best{height:14px;vertical-align:top;}
	.photo_view .pro_name .hot{padding-bottom:18px;height:36px;}
	.photo_detail {text-align:left;}
	.photo_detail .s_wrap{border-top:2px solid #222; border-bottom:1px solid #414042;margin-bottom:80px;}
	.photo_detail .s_wrap>li{display:flex;align-items:center;justify-content:space-between;padding: 15px 100px 15px 0;box-sizing:border-box;}
	.photo_detail .s_wrap>li+li{border-top:1px dashed rgba(65,64,66,0.6);}
	.photo_detail .s_wrap>li .sub_text{width:650px;padding-left:90px;box-sizing:border-box;min-height:118px;}
	.photo_detail .s_wrap>li .sub_text p{font-size:20px;line-height:28px; color:#c49a6c; margin-bottom:10px;font-weight:500;}
	.photo_detail .s_wrap>li .sub_text span{font-size:18px; line-height:26px;color:#414042;font-weight:400;}
	.photo_detail .s_wrap>li .sub_text.fry{display: flex;background:url("../../images/sub/img_fry.png")no-repeat left center;flex-direction: column;justify-content: center;}
	.photo_detail .s_wrap>li .sub_text.bake{background:url("../../images/sub/img_bake.png")no-repeat left center;}

	.photo_detail .sub_text01{font-size:16px;line-height:1.6;}

	.photo_detail .wrap_info .title_info{color:#414042;font-size:20px; font-weight:500; line-height:24px;margin-bottom:25px;}
	.photo_detail .wrap_info .title_info img{padding:0 0 4px 10px;}
	.photo_detail .inner_info .info_box{padding:15px 16px;background-color:#fff;border:1px solid #8f827c;min-height:116px;box-sizing:border-box;display: table;width:100%; word-break: break-all;}
	.photo_detail .inner_info .info_box p{font-size:13px;line-height:25px;display: table-cell;vertical-align: top;}
	.photo_detail .inner_info+.inner_info{margin-top:55px;}
	.photo_detail .wrap_info .title_info,
	.photo_detail .wrap_info .title_info img{display:inline-block;vertical-align:middle;}
	.s_txt01{font-size:26px; color:#414042; line-height:40px; font-weight:600;}
	.s_txt01 span{color:#c49a6c;}
	.s_txt02{font-size:18px; color:#414042; line-height:25px; font-weight:400;}
	.s_txt02 span{color:#c49a6c;}


/* store style */

		.storeArea{width:100%; font-size:0; line-height:0; position: relative; overflow:hidden; box-sizing: border-box;}
		.storeArea .storeSch{padding:15px 20px; background-color: #000; text-align: right; position: relative;}
		.storeArea .storeSch .total{font-size:18px; line-height:36px; color: #fff; letter-spacing: -0.03em; position: absolute; left:20px; top:15px;}
		.storeArea .storeSch .form{text-align: right;}
		.storeArea .storeSch .form select,
		.storeArea .storeSch .form input[type=text],
		.storeArea .storeSch .form input[type=submit]{height:36px; padding:0 10px; background-color: #fff; border:none; font-weight: 400; font-size:14px; line-height:36px; color: #636363; display:inline-block; vertical-align: top; box-sizing: border-box;}
		.storeArea .storeSch .form select{margin-right:20px; padding-right:40px; background:#fff url('../../images/front/bg_select_arr.gif') no-repeat right center; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
		.storeArea .storeSch .form select::-ms-expand{display:none;}
		.storeArea .storeSch .form input[type=text]{width:295px;}
		.storeArea .storeSch .form input[type=submit]{width:47px; padding:0; background:#fff url('../../images/btn_sch.gif') no-repeat center center; font-size:0; line-height:0; cursor: pointer;}

		.storeArea .storeLay{display: flex; justify-content: space-between;}
		.storeArea .storeLay .mapArea{width:835px; height:670px; padding: 0 !important; border:none !important; overflow:hidden;}
		.storeArea .storeLay .storeList{width:365px; height:670px; background-color: #fff; border:1px solid #dbdbdb; border-top:none; overflow:hidden; overflow-y:auto; box-sizing: border-box;}
		.storeArea .storeLay .storeList>li{position: relative;}
		.storeArea .storeLay .storeList>li+li{border-top:1px solid #dbdbdb;}
		.storeArea .storeLay .storeList .dView{padding: 25px 40px 65px 40px;color: #777;display:block;}
		.storeArea .storeLay .storeList .dView p{font-size:15px; line-height:20px;}
		.storeArea .storeLay .storeList .dView .name{font-weight: 500; font-size:20px; color: #252525;}
		.storeArea .storeLay .storeList .dView .tel{}
		.storeArea .storeLay .storeList .dView+.view{margin-top:-22.5px; position: absolute; right:40px; top:50%; z-index:2; display:none;}
		.storeArea .juso{padding:12px 0 7px;}
		.storeArea .juso>span{display:block; position: relative;}

		.storeArea .storeLay .storeList li:hover .dView,
		.storeArea .storeLay .storeList .dView.active{background-color: #f4f9fb;}
		.storeArea .storeLay .storeList li:hover .dView .name,
		.storeArea .storeLay .storeList .dView.active .name{color: #0e327c;}

		.storeArea .storeLay .storeList>li:hover .dView+.view,
		.storeArea .storeLay .storeList .dView.active+.view{display:inline-block;}

		.storeArea .storeLay .storeList .btn_store{position: absolute;cursor:pointer;padding:15px 17px;font-size:14px;color:#636363;border:1px solid #dbdbdb;display:inline-block;/* margin-top:20px; */bottom: 20px;left: 40px;}

		.storeView{width:100%; font-size:0; line-height:0; position: relative; overflow:hidden; box-sizing: border-box;}
		.storeView .mapArea{width:100%;height:420px; padding: 0 !important; border:none !important; overflow:hidden;}
		.storeView .storeInfo{border-right: 1px solid #dbdbdb;border-left: 1px solid #dbdbdb;border-top: 2px solid #333;border-bottom: 1px solid #dbdbdb;width:750px;background-color: #fff;box-sizing: border-box;}
		.storeView .inner_storeInfo{display:flex;justify-content:space-between;margin-top:35px;}
		.storeView .storeImg{overflow: hidden;width:340px;height:340px;display:block;}

		.storeView .storeInfo>table{width:100%; height:100%; border-spacing:0; table-layout : fixed;}
		.storeView .storeInfo>table th,
		.storeView .storeInfo>table td{padding:10px 27px; font-weight: 300; font-size:16px; line-height:1.5; color:#636363; text-align:left; border-collapse:collapse; empty-cells:show; box-sizing: border-box;}
		.storeView .storeInfo>table tr+tr>*{border-top:1px solid #dbdbdb; }

		.storeView .storeInfo>table th{background-color: #f7f8fa; font-weight:500; color:#363636; position: relative;}
		.storeView .storeInfo>table th:before{content: ""; width: 1px; min-height: 999px; background-color: #dbdbdb; position:absolute; right: 0; top:0px;}
		.storeView .storeInfo>table .icon{font-size:0; line-height:0;}
		.storeView .storeInfo>table .icon img{display:inline-block; vertical-align: top;}
		.storeView .storeInfo>table .icon img+img{margin-left:14px;}

		.storeView.presentation .mapArea{width:520px; height:330px;}
		.storeView.presentation .storeInfo{width:678px;}
		.storeView.presentation .storeInfo>table th{text-align: center;}



/*[e] Sub Style */

/* 2023-02-21 */
	html.hide{height:100vh; overflow:hidden;}

	.floating-area{position: fixed; right:10px; bottom:80px; z-index:9; display:inline-block;}
	.floating-area>a{width:150px; margin-bottom:10px; display:block; animation-duration: .7s; animation-iteration-count:infinite; animation-timing-function:ease-in-out; animation-direction:alternate;}
	.floating-area>a:nth-child(1){animation-name: dungdung_01;}
	.floating-area>a:nth-child(2){animation-name: dungdung_02;}
	@keyframes dungdung_01 {
		from {transform: translateY(2%);}
		to {transform: translateY(-2%);}
	}
	@keyframes dungdung_02 {
		from {transform: translateY(1%);}
		to {transform: translateY(-1%);}
	}

	.order-mobile-area{width:100vw; height:100vh; position: fixed; right:-100vw; top:0; z-index:13; transition:transform 1.2s; transform-origin: 0 0%;}
	.order-mobile-area:before{content: ""; width:100vw; height:100vh; background-color: rgba(0,0,0,0.7); position: fixed; right:0; top:0; transform:scaleX(0); opacity: 0; transition:opacity .3s,transform 1.2s cubic-bezier(0.14,0.88,0,1.13); transform-origin: 100% 0%;}
	.order-mobile-in{width:640px; background-color: #fff; border:none; position: absolute; left:auto; right:-640px; top:0px;z-index:3; opacity: 0; transition: all .6s; transform-origin: 100% 0%;}
	.order-mobile-in .order-mobile-close{width:50px; height:50px; background-color:#da1212; border:none; position: absolute; left:-50px; top:0; cursor: pointer;}
	.order-mobile-in .order-mobile-close:before,
	.order-mobile-in .order-mobile-close:after{content: ""; width:40px; height:2px; margin:-1px 0 0 -20px; background-color: #fff; display: inline-block; position:absolute; left:50%; top:50%;}
	.order-mobile-in .order-mobile-close:before{transform:rotate(45deg);}
	.order-mobile-in .order-mobile-close:after{transform:rotate(-45deg);}
	.order-mobile-in iframe{width:640px; height:100vh; background-color: #fff; border:none; overflow:hidden; overflow-y:auto; position: relative; left:auto; right:auto; top:auto;}

	.order-mobile-area.open{right:0;}
	.order-mobile-area.open:before{transform:scaleX(1); opacity:1;}
	.order-mobile-area.open .order-mobile-in{right:0; opacity:1;}
/*[s] Plugin Style */
	/* Layer Style */
	.layerArea .layerIn .layerBgIn{width:0px; height:0px; background-color: rgba(255,255,255,0.7); position:absolute; left:50%; top:50%; z-index:100; -webkit-transition: .3s; transition: .3s; transform-origin: 50% 50%;}

	.layerArea{width:0px; height:0px; background-color: rgba(0,0,0,0.7); position:fixed; left:50%; top:50%; z-index:99; overflow:hidden; overflow-y:auto; -webkit-transition: .3s; transition: .3s; transform-origin: 50% 50%;}
	.layerArea.one,
	.layerArea.two{width:100%; height:100%; left:0%; top:0%;}
	.layerArea.two .layerBgIn{width:100%; height:100%; left:0%; top:0%;}
	.layerArea .closeLy{padding:10px; display:inline-block; position: absolute; right:-70px; top:0;}
	.layerArea .layerIn{width:100%; height:100%; display: table; position:relative;}
	.layerArea .layerIn .layerCell{width:100%; height:100%; padding:70px 0; display: table-cell; vertical-align:middle; position:relative; box-sizing: border-box;}
	.layerArea .layerIn .layerBox{margin:0 auto; background-color: #fff; font-size:0; line-height:0; display:none; position: relative; box-sizing: border-box; z-index:99;}
	.layerArea .layerIn .layerBox>.tit{padding:25px 25px 15px;}
	.layerArea .layerIn .layerBox>.tit>strong{font-size:16px; line-height:1; color:#00a9cc;}
	.layerArea .layerIn .layerBox .contLy{}

	.store_view{width:1200px; background-color: #fff;padding:40px; box-sizing:border-box;}

	.easyReservation{width:980px; background-color: #fff;padding:50px; box-sizing:border-box;}
	.easyReservation .title{padding:0px; /* background-color: #087b29;  */line-height:1; color: #252525; position: relative;}
	.easyReservation .title>dt{font-weight: 600; font-size:26px;}
	.easyReservation .title>dd{ font-size:18px;line-height:50px;padding-top:10px;padding-bottom:30px;font-weight:500;}
	.easyReservation .closeLy{width:auto;margin-top:-15px;display:inline-block;position: absolute;right: -50px;top: 15px;}
	.easyReservation .contLy{}
	.easyReservation .infoBox{padding:40px; background:#fbfbfb; letter-spacing: -0.03em;border:1px solid #dbdbdb;}
	.easyReservation .infoBox .tit{padding-bottom:25px; font-weight: 500; font-size:18px; line-height:26px; color: #252525;}
	.easyReservation .infoBox ol{counter-reset:num;}
	.easyReservation .infoBox ol>li{font-size:16px; line-height:22px; color: #636363; position: relative;padding-left:25px;}
	.easyReservation .infoBox ol>li+li{margin-top:6px;}
	.easyReservation .infoBox ol>li>p{font-size:14px; line-height:1.4; color: #e84e0e;}
	.easyReservation .infoBox ol>li:before {counter-increment:num; content: counter(num) ".";font-weight:400; font-size: 16px; line-height:26px; color: #636363; text-align: center; position: absolute; left: 0; top:-2px; display: inline-block; }
	.easyReservation.layerBox .q{font-size:20px; color:#252525;line-height:47px;font-weight:500;text-align:center;padding:15px;background-color:#fbfbfb;}
	.easyReservation.layerBox .active .q{font-weight:500;}
	.easyReservation.layerBox .q:before{content:none;}
	.easyReservation.layerBox .a{padding:10px;background-color:#fff;}
	.easyReservation.layerBox .a:before{content:none;}
	.easyReservation.layerBox .board_write{border-width: 1px;border-style:solid;border-color: #dbdbdb;}
	.easyReservation.layerBox .board_write>table th{background-color:#fbfbfb;text-align:left;padding:0 25px;}
	.easyReservation.layerBox .board_write>table td{border-left:1px solid #ddd; }

	.box01{width:500px; padding:10px;}
	.box01>.tit{padding:0 10px 10px;}
	.box01>.contLy{padding:20px;}

	.box02{width:800px; padding:10px;}
	.box02>.tit{padding:0 10px 10px;}
	.box02>.contLy{padding:80px;}

/* Img Over Bg Style */
	#photo{width:960px;margin:0 auto; position:relative; overflow:hidden;}
	#photo>li{width:150px; height:150px; margin:5px; float:left; display:inline; overflow:hidden; }
	#photo>li>a{width:100%; height:100%; position: relative; display:block; overflow:hidden;}
	#photo>li>a>img{width:100%; height:100%; display:block; border-radius:5px;}
	#photo>li>a>.bg_l{width:100%; height:100%; background-color:red; position: absolute; left:0; top:0; display:none; opacity:0.3; border-radius:5px;}

/* Notice One Line Style */
	.mNoticeList{width:100%; height:60px; margin-top:25px; overflow:hidden; position: relative;}
	.mNoticeList>ul{width:100%; position: absolute; left:0; top:-60px;}
	.mNoticeList>ul>li{height:60px; position: relative;}
	.mNoticeList>ul>li>a{padding-left:73px; display:block; position: relative;}
	.mNoticeList .day{width:41px; padding-right:15px; border-right:1px solid #d5d1cc; font-weight: 600; font-size:12px; line-height:1; color: #b99764; text-align: center; position: absolute; left:0; top:0;}
	.mNoticeList .day>strong{font-weight: 700; font-size:32px; line-height:1; display:block;}
	.mNoticeList dl.list{font-size:16px; line-height:20px; color: #876e49; word-break:keep-all; word-wrap:break-word;}
	.mNoticeList dl.list>dt{padding-bottom:6px; font-weight: 600; font-size:12px; line-height:1; color: #b99764;}
/*[e] Plugin Style */

/*
-webkit-transform: translateY(-50%); transform: translateY(-50%);
-webkit-transform: translateX(-50%); transform: translateX(-50%);
filter:grayscale(100%) blur(0px); -webkit-filter:grayscale(100%) blur(0px);
transition: all .5s linear;
transition: all .5s ease-out;
transform:rotate(180deg);
-webkit-transition-timing-function:ease-in linear; transition-timing-function:ease-in linear;
-webkit-transition-delay: .8s; transition-delay: .8s;
:before{content: ""; width: 24px; height: 24px; background-color: #fff; border:1px solid #666; display: inline-block; position:absolute; left: 0; top:0px; box-sizing: border-box;}
display: flex; justify-content: space-between; // ì–‘ìª½ ë ì •ë ¬
display: flex; justify-content: space-around; // ì„¼í„° ì •ë ¬
display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; //í•œì¤„ ê°ì¶”ê¸°
display: block; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; //ë‘ì¤„ ê°ì¶”ê¸°
active
:first-child
text-indent:-99999px;
!important
display:table;
table-layout:fixed;
display:table-row;
display:table-cell;
box-sizing:border-box;
word-break:keep-all; word-wrap:break-word;
border-radius:2px;
*/