.quick_btm {
  width: 100%;
  padding: 20px 0;
  background-color: #342f2f;
  /*  border-top:1px solid #1e1d1d;  */
  font-size: 0;
  line-height: 0;
  text-align: center;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  z-index: 999;
}

.quick_btm .inConts {
  justify-content: space-between;
}

.quick_btm .inConts {
  display: flex;

  align-items: center;
  position: relative;
}

.quick_btm .tit {
  padding-right: 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  color: #b7915a;
  display: inline-block;
  vertical-align: top;
}


.quick_btm .quick_btn {
  position: relative;
  padding: 0 40px 0 30px;
  line-height: 40px;
  background-color: #b69157;
  border: none;
  font-weight: 500;
  font-size: 17px;
  color: #f4eae2;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.quick_btm .quick_btn:before {
  content: "";
  position: absolute;
  top: 15px;
  right: 24px;
  border-style: solid;
  border-color: #FFF;
  border-width: 0px 2px 2px 0;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -10px;
}

.footer .tit span {
  color: #fff;
}

.footer {
  border-top: 1px solid #ddd;
  background: #f9f9f9;
  padding: 30px 0 50px 0;
  text-align: center;
}

.footer address {
  margin: 0 0 10px 0;
}

.footer .footer_customer {
  margin: 0 0 10px 0;
  font-size: 0;

}

.footer .footer_customer li {
  display: inline-block;
  font-size: 15px;
}

.footer .footer_customer li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background: #cccaca;
  margin: 0 10px;
}

@media(max-width :1200px) {
  .tel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff6347;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
}