body {
    overflow-x: hidden;
}

.wrp {
    min-width: 1200px;
}

.header {
    border-bottom: 1px solid #f2f2f2;
}

.header a {
    display: block;
}

.header .menu_wrap {
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .gnb>ul {
    display: flex;
    gap: 90px;
}

.header .gnb>ul>a {
    font-size: 18px;
    white-space: nowrap;
}


.menu_wrap .sua {
    display: flex;
}



.main_visual .itm {

    width: 100%;
    height: 812px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-size: 0;
    line-height: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;

}

.main_visual .itm01 {
    background-image: url(../img/mainslide1.jpg);
}

.main_visual .itm02 {
    background-image: url(../img/mainslide2.jpg);
}

.main_visual .itm03 {
    background-image: url(../img/mainsldie3.jpg);
}



.main_visual .slide_wrap .main_slide {}

.main_visual .slide_wrap h3 {}

.main_visual .main_slide {
    min-width: 1200px;
}

.mainvisual {
    position: relative;
}


.main_visual .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.main_visual .slick-dots li {
    display: inline-block;
    margin: 0 2px;
}

.main_visual .slick-dots li button {
    background: #d1d1d1;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 0;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

.main_visual .slick-dots li.slick-active button {
    background: #c49a6c;
}



.main_visual {
    position: relative;
}



.main_visual .direction {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1340px;
    width: 100%;
}



.main_visual .direction>a {}

.main_visual .direction img {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 50px;
    padding: 10px;


    border-radius: 50px;
    font-size: 20px;
}

.main_visual .direction .left {
    left: 0;
}

.main_visual .direction .right {
    right: 0;

}


.mConts {
    background: #f9f9f9;
}

.mConts {
    width: 100%;
    font-size: 0;
    line-height: 0;
    position: relative;
}


.mTitle {
    margin-bottom: 45px;
    line-height: 1;
    text-align: center;
    letter-spacing: -0.03em;
    position: relative;
}

.mTitle>h2 {
    font-weight: bold;
    font-size: 32px;
    color: #20221f;
}

.mTitle>p {
    padding-top: 15px;
    font-size: 18px;
    color: #636363;
}


.mConts {
    position: relative;
}

.mMenu {
    padding: 100px 0 170px;
    background: #f3f3f3 url('../img/bg_menu.png') no-repeat left center;
}

/* 
.mMenu .inConts {
    width: 1316px;
}

.mMenu .mTitle {
    padding: 60px 0;
    margin-bottom: 15px;
}
 */

/* .mMenu .mTitle:before,
.mMenu .mTitle:after {
    content: "";
    width: 34px;
    height: 30px;
    margin-left: -15px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    position: absolute;
    left: 50%;
}


.mMenu .mTitle {
    background-image: url('../img/mtitle.png');
    top: 10px;

} */

/* before 왜 안되지 */


/* */
.more {
    padding: 0 30px 15px;
    text-align: right;
}




.mMenu .mTitle>dt {
    font-size: 0;
    line-height: 0;
}


.wrap_slider {
    position: relative;
}



.wrap_slider .arrows {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 100%;
}

.wrap_slider .arrows img {
    cursor: pointer;
    position: absolute;
    top: 0;

    padding: 10px;
    color: #fff;

    border-radius: 50px;
    font-size: 20px;
}

.wrap_slider .arrows .left {
    left: 0;
}

.wrap_slider .arrows .right {
    right: 1%;

}

/* 여기서부터 세션2 */


.mShop {

    background: #fff url('../img/bg_withme.png') no-repeat right 43px;
}

.mShop .shopSch {

    padding: 45px 0 50px;
    border: 1px solid #c1c1c1;
    border-top: 3px solid #27272c;
}

.mShop .shopSch .inBox {
    width: 765px;
    margin: 0 auto;
    padding-right: 240px;
    box-sizing: border-box;
    position: relative;
}


.mShop .shopSch .inBox dl {
    padding-left: 78px;
    position: relative;
}

.mShop .shopSch .inBox dl+dl {
    margin-top: 10px;
}

.shopSch dl>dd.two {
    display: flex;
    gap: 10PX;
    justify-content: space-between;
}

.shopSch dl>dt {
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #27272c;
    position: absolute;
    left: 0;
    top: 0;
}

.mShop .shopSch input[type=text],
.mShop .shopSch select {

    width: 100%;
    height: 40px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    font-weight: 300;
    font-size: 15px;
    line-height: 38px;
    color: #666;
    letter-spacing: -1px;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
}

.mShop .shopSch input[type=submit] {

    width: 220px;
    height: 90px;
    padding: 0;
    background-color: #443f3b;
    border: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}



.mShop .shopSch select {
    padding-right: 30px;
    background: #fff url('../img/arr_sch.png') no-repeat 95% center;
    line-height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.mShop .mBanner {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.mBtm {
    background-color: #242122;
    height: 930px;
}

.mBtm_slider {
    text-align: center;
}

.mBtm_slider .slider {
    width: 1903px;
    overflow: hidden;
}

.mBtm_slider .slider img {
    display: inline-block;
}

.main_history {
    background: #f9f9f9;
}





.history_menu ul {
    margin: 0 auto;
}

.history_menu ul>li {
    text-align: center;
}



.main_history .title h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #20221f;
}


.main_history .title p {
    padding-top: 15px;

    font-size: 18px;
    color: #636363;
}



.main_history .history {


    gap: 30px;
    min-height: 500px;

}

.main_history .history>* {

    flex: 1;

}

.main_history .history .history_menu {}

.history_menu {
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    border: 1px solid #c1c1c1;
    border-top: 3px solid #27272c;


    background: #fff;
    gap: 30px
}

.main_history .history .history_menu li {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    background: #f9f9f9;
    line-height: 25px;
    align-items: center;
    font-size: 22px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    color: #333;

    display: flex;

    padding: 20px 30px 20px 30px;
}

/* .main_history .history .history_menu li strong {
    font-size: 18px;
    font-weight: 500;
} */

/* .main_history .history .history_menu li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 2px solid tomato;
    border-radius: 50%;
} */

/* .main_history .history .history_menu li:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 15px;
    bottom: -25px;
    width: 2px;
    background: tomato;
} */

.main_history .history_content li {
    height: 0;
    overflow: hidden;
}

.history_content li.on {
    height: auto;
}




.history_content figure {

    min-width: 100vh;
    min-height: 80px;
    background: white;

}



.history_menu ul {}



.history_menu li {}


.history_menu li .right {}



.main_history .history_menu>li.on {

    background: #c49a6c;
    color: white;
}


.main_history .history_menu>li:hover {
    cursor: pointer;
    background: #c49a6c;
    color: white;
}





.under .history_content {

    border: 1px solid #ddd;
    background: #ffff;
    padding: 30px 30px 30px 30px;
}